@CHARSET "UTF-8";

body{
	background-color: cyan;
	font-family: 'Palatino Linotype', serif;
	max-width: 600px;
	padding: 0px 30px 0px 30px;
	}
#instructions{
	font-style: italic;
	}
	em{
	font-weight: bold;
	font-style:normal;
	color: #ff0000;  
	}	
h1{
	margin-bottom: 0px;
}
p{
	margin-top: 0px;
}
fieldset {
	margin-bottom: 15px;
	padding: 10px;
}
legend {
	padding: 0px 3p;
	font-weight: bold;
	font-variant: small-caps;
}
label {
	width: 110px;
	display: inline-block;
	vertical-align: top;
	margin: 6px;
}
input:FOCUS {
	background: #ffff80;
}
input, textarea {
	width: 249px;
	
}
textarea {
	height: 100px;
		
}
select {
	width: 249px;
}
input [type=checkbox]{
	width: 10px;
}
input[type=submit] {
	width:130px;
	padding: 10px; 

}