@CHARSET "ISO-8859-1";
body{

	font-family: 'Palatino Linotype', serif;
	max-width: 600px;
	padding: 0px 30px 0px 30px;
}

#instructions{
	font-style: italic;
}

em{
	font-weight: bold;
	font-style: normal;
	color: #FF00;
}


h1{
	margin-bottom: 0px;
}

p{
	margin-top: 0px;
}

fieldset{
	margin-bottom: 15px;
	padding: 10px;
}

legend{
	padding: 0px 3px;
	font-weight: bold;
	font-variant: small-caps;
}

label{
	width: 110px;
	display: inline-block;
	vertical-align: top;
	margin: 6px;
}

input:FOCUS {
	background: #EAEAEA;
}

input, textarea {
	width: 250px;
}

textArea{
	height: 100px;
}

select{
	width: 250px;
}

input[type=checkbok]{
	width: 20px;
}

input[type=submit]{
	width: 150px;
	padding: 10px;
	padding-right: 300px;
}